<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>initParam</servlet-name><!--初始化的servlet-name需与package同名-->
        <servlet-class>chap3.initParam.src.FontServlet</servlet-class>
        <init-param>
            <param-name>color</param-name>
            <param-value>blue</param-value>
        </init-param>
        <init-param>
            <param-name>size</param-name>
            <param-value>20</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>initParam</servlet-name>
        <url-pattern>/initParam</url-pattern>
    </servlet-mapping>
</web-app>